[core]
	editor = nvim
  pager = delta
[user]
	name = Jim Chien
	email = 47145412+jim-chien@users.noreply.github.com
[alias]
	cleanup = "!git branch --merged | egrep -v '(^\\*|master|main|dev)' | xargs git branch -d"
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true  # use n and N to move between diff sections
  dark = true
[merge]
    conflictstyle = zdiff3
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
