[core]
	editor = nvim
[user]
	name = Jim Chien
	email = jim_chien_br@hotmail.com
[alias]
	cleanup = "!git branch --merged | egrep -v '(^\\*|master|main|dev)' | xargs git branch -d"
[diff]
  tool = nvimdiff
[difftool]
	prompt = false
[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = nvimdiff
	conflictstyle = diff3
[mergetool]
	keepBackup = false
	prompt = false
[mergetool "nvimdiff"]
	cmd = nvim -d -c \"wincmd l\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
